html {
    box-sizing: border-box;
    font-size: 10px;
    background: #8e24aa;
    background: linear-gradient(450deg, #46dde2 10%, #22b8bd 50%, #2f64b4 100%);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    text-align: center;
    font-family: monospace, 'Cambria';
}

.display_time-left{
    font-weight: 100;
    font-size: 20rem;
    margin: 0;
    color: white;
    text-shadow: 5px 4px 0 rgba(0, 0, 0, 0.527)
}

.timer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.timer_controls{
    display: flex;
}

.timer_controls > * {
    flex: 1;
}

.timer_controls form{
    flex: 1;
    display: flex;
}

.timer_controls input{
    flex: 1;
    border: 0;
    padding: 2rem;
}

.timer_button{
    background: none;
    border: 0;
    cursor: pointer;
    color: whitesmoke;
    font-size: 2rem;
    text-transform:uppercase;
    background: rgba(0,0,0,0.1);
    border-bottom: 2px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
    font-family: 'Cambria', monospace;
}

.timer_button:hover,
.timer_button:focus{
    background: rgba(0,0,0,0.2);
    outline: 0;
}

.display{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.display_end-time{
    font-size: 4rem;
    color: whitesmoke;
}